openapi: 3.2.0
info:
  title: Triton One Customers Tokens API
  description: 'Account management REST API for Triton One. Use this API to manage accounts, subscriptions, endpoints, tokens, address watch lists, and rate tiers for your Triton RPC services. Token-based authentication via the Authorization header. Distinct from RPC consumption tokens — Customers API tokens are only used against customers.triton.one.

    '
  version: v1
  contact:
    name: Triton One Support
    url: https://triton.one
    email: support@triton.one
  license:
    name: Triton One Terms of Service
    url: https://triton.one/terms
servers:
- url: https://customers.triton.one
  description: Production Customers API
security:
- BearerAuth: []
tags:
- name: Tokens
  description: Manage RPC consumption tokens.
paths:
  /api/v1/tokens:
    get:
      summary: List Tokens
      operationId: listTokens
      tags:
      - Tokens
      parameters:
      - name: account_uuid
        in: query
        schema:
          type: string
          format: uuid
      - name: subscription_uuid
        in: query
        schema:
          type: string
          format: uuid
      - name: per
        in: query
        schema:
          type: integer
          default: 50
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Tokens collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenList'
  /api/v1/subscriptions/{subscriptionUuid}/tokens:
    post:
      summary: Create Token
      description: Create a new RPC consumption token under a subscription.
      operationId: createToken
      tags:
      - Tokens
      parameters:
      - $ref: '#/components/parameters/SubscriptionUuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenCreate'
      responses:
        '201':
          description: Created token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenEnvelope'
  /api/v1/tokens/{tokenUuid}/activate:
    put:
      summary: Activate Token
      operationId: activateToken
      tags:
      - Tokens
      parameters:
      - $ref: '#/components/parameters/TokenUuid'
      responses:
        '204':
          description: Activated.
  /api/v1/tokens/{tokenUuid}/deactivate:
    put:
      summary: Deactivate Token
      operationId: deactivateToken
      tags:
      - Tokens
      parameters:
      - $ref: '#/components/parameters/TokenUuid'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                deactivation_reason:
                  type: string
      responses:
        '204':
          description: Deactivated.
components:
  parameters:
    TokenUuid:
      name: tokenUuid
      in: path
      required: true
      schema:
        type: string
        format: uuid
    SubscriptionUuid:
      name: subscriptionUuid
      in: path
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    TokenList:
      type: object
      properties:
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/Token'
        meta:
          $ref: '#/components/schemas/Meta'
    TokenCreate:
      type: object
      required:
      - name
      - rate_tier
      properties:
        name:
          type: string
        rate_tier:
          type: string
          enum:
          - free
          - tier1
          - tier2
          - tier3
          - dedi
    TokenEnvelope:
      type: object
      properties:
        token:
          $ref: '#/components/schemas/Token'
    Token:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        value:
          type: string
          description: The opaque token string to use for RPC auth.
        auth_username:
          type: string
        name:
          type: string
        rate_tier:
          type: string
          enum:
          - free
          - tier1
          - tier2
          - tier3
          - dedi
        is_active:
          type: boolean
        deactivation_reasons:
          type: array
          items:
            type: string
    Meta:
      type: object
      properties:
        current_page:
          type: integer
        next_page:
          type:
          - integer
          - 'null'
        per_page:
          type: integer
        prev_page:
          type:
          - integer
          - 'null'
        total_pages:
          type: integer
        total_count:
          type: integer
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Customers API token passed in Authorization header.
