openapi: 3.1.0
info:
  title: Triton One Customers Accounts API
  description: 'Account management REST API for Triton One. Use this API to manage accounts, subscriptions, endpoints, tokens, address watch lists, and rate tiers for your Triton RPC services. Token-based authentication via the Authorization header. Distinct from RPC consumption tokens — Customers API tokens are only used against customers.triton.one.

    '
  version: v1
  contact:
    name: Triton One Support
    url: https://triton.one
    email: support@triton.one
  license:
    name: Triton One Terms of Service
    url: https://triton.one/terms
servers:
- url: https://customers.triton.one
  description: Production Customers API
security:
- BearerAuth: []
tags:
- name: Accounts
  description: Manage customer accounts.
paths:
  /api/v1/accounts:
    get:
      summary: List Accounts
      description: List customer accounts visible to the authenticated token.
      operationId: listAccounts
      tags:
      - Accounts
      parameters:
      - name: name
        in: query
        schema:
          type: string
        description: Filter by account name.
      - name: per
        in: query
        schema:
          type: integer
          default: 50
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: List of accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
  /api/v1/accounts/{accountUuid}:
    get:
      summary: Get Account
      description: Retrieve a single account by UUID, including subscriptions and deactivation reasons.
      operationId: getAccount
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/AccountUuid'
      responses:
        '200':
          description: Account detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEnvelope'
    put:
      summary: Update Account
      description: Update billing and contact details for an account.
      operationId: updateAccount
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/AccountUuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdate'
      responses:
        '200':
          description: Updated account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEnvelope'
components:
  schemas:
    Subscription:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        name:
          type: string
        subscription_type:
          type: string
          enum:
          - developer
          - mainnet-shared
          - mainnet-dedicated
        is_active:
          type: boolean
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
        endpoints:
          type: array
          items:
            $ref: '#/components/schemas/Endpoint'
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/Token'
        supported_rate_tiers:
          type: array
          items:
            type: string
        account:
          $ref: '#/components/schemas/Account'
        deactivation_reasons:
          type: array
          items:
            type: string
    AccountUpdate:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        billing_address1:
          type: string
        billing_address2:
          type: string
        billing_address3:
          type: string
        billing_city:
          type: string
        billing_state_or_province:
          type: string
        billing_postal_code:
          type: string
        billing_country_code:
          type: string
        telephone_country_code:
          type: string
        telephone:
          type: string
    Token:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        value:
          type: string
          description: The opaque token string to use for RPC auth.
        auth_username:
          type: string
        name:
          type: string
        rate_tier:
          type: string
          enum:
          - free
          - tier1
          - tier2
          - tier3
          - dedi
        is_active:
          type: boolean
        deactivation_reasons:
          type: array
          items:
            type: string
    AccountList:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
        meta:
          $ref: '#/components/schemas/Meta'
    Endpoint:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        rate_tier:
          type: string
          enum:
          - free
          - tier1
          - tier2
          - tier3
          - dedi
        is_active:
          type: boolean
        values:
          type: array
          items:
            type: string
        allowed_origins:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              is_active:
                type: boolean
    Meta:
      type: object
      properties:
        current_page:
          type: integer
        next_page:
          type:
          - integer
          - 'null'
        per_page:
          type: integer
        prev_page:
          type:
          - integer
          - 'null'
        total_pages:
          type: integer
        total_count:
          type: integer
    Account:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        name:
          type: string
        billing_address1:
          type: string
        billing_address2:
          type: string
        billing_address3:
          type: string
        billing_city:
          type: string
        billing_state_or_province:
          type: string
        billing_postal_code:
          type: string
        billing_country_code:
          type: string
        telephone_country_code:
          type: string
        telephone:
          type: string
        is_active:
          type: boolean
        subscriptions:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
        deactivation_reasons:
          type: array
          items:
            type: string
    AccountEnvelope:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/Account'
  parameters:
    AccountUuid:
      name: accountUuid
      in: path
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Customers API token passed in Authorization header.
